@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap');
/************************/
/******** header ********/
/************************/
/* html{
    width: 98.5%;
    margin: auto;
} */
.header{
    overflow: hidden;
    padding: 5px 0px;
    font-size: 14px;
}
.call{
    padding-right: 20px;
}
.leftH{
    overflow: hidden;
    float: left;
}
.leftH i{
    color: #0fb0ee;
    margin-right: 5px;
}
.rightHeader{
    overflow: hidden;
    float: right;
}
.box{
    overflow: hidden;
    float: left;
}
.box i{
    height: 33px !important;
    width: 33px;
    padding: 10px;
}
.box:hover{
    cursor: pointer;
}
.box:hover a{
    color:#fff;
}
.box a{
    color: #999999;
}
.searchIcon a, .gIcon a{
    color: #fff;
}
.searchIcon{
    background-color: #0fb0ee !important;
}
.searchIcon:hover{
    background-color: #046388 !important;
}
.gIcon{
    background-color: #eb604e !important;
}
.gIcon:hover{
    background-color: #f6260a !important;
}
.fb:hover{
    background-color: #1773EA !important;
}
.twitter:hover{
    background-color: #50ABF1 !important;
}
.insta:hover{
    background-color: #9326A8 !important;
}


/************************/
/******** navbar ********/
/************************/
.navLogo{
    width: 150px;
}
.nav-item{
    text-transform: uppercase;
    font-weight: 500;
}
.nav-item a:hover,.active a{
    color: #0fb0ee !important;
}


/*  */
/*  */
/*  */
.owl-carousel{
    width: 100%;
}
.owl-carousel .item{
    background-image: url("https://via.placeholder.com/1921x887/343739/575555");
    background-size: 100% 100% !important;
    background-position: center;
    background-repeat: no-repeat;
    padding: 16% 18%;
}
.owl-carousel .item h1{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 80px;
    color: white;
    font-weight: 700;
    text-transform: uppercase;
    /* margin-top: -20px; */
}
.owl-carousel .item h2{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 36px;
    color: white;
    font-weight: 400;
    text-transform: uppercase;
}
.owl-carousel .item p{
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: #bbbbbb;
    font-weight: 400;
}
.slider{
    position: relative;
}
.main-content {
    position: relative;
}
.owl-theme .custom-nav {
    position: absolute;
    top: 45%;
    left: 0;
    right: 0;
}
.owl-theme .owl-nav  [class*=owl-]:focus {
    outline: none !important;
}

.owl-theme .custom-nav .owl-prev, .owl-theme .custom-nav .owl-next {
    position: absolute;
    color: inherit;
    background: none;
    border: none;
    z-index: 100;
    right: 0;
}
.owl-theme .custom-nav .owl-prev, .owl-next{
    font-size: 2.5rem;
    color: #cecece;
}
.owl-theme .custom-nav .owl-prev {
    left: 0;
}
.owl-theme .owl-nav [class*=owl-] {
    color: #FFF;
    background: #256781;
    display: inline-block;
    cursor: pointer;
    border-radius: 0;
    margin:0 ;
}
.owl-theme .owl-dots .owl-dot span{
    background: rgb(247, 247, 255);
    width: 7px;
    height: 15px;
}
.owl-theme .owl-dots{
    position: absolute;
    margin: auto;
    width: 100%;
    bottom: 2%;
}
.owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev, .owl-carousel button.owl-dot:focus{
    outline: none;
}
.owl-theme .owl-dots .owl-dot.active span{
    background: rgb(75, 149, 233);
    width: 7px;
    height: 35px;
}