@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap');
/************************/
/******** header ********/
/************************/
/* html{
    width: 98.5%;
    margin: auto;
} */
.header{
    overflow: hidden;
    padding: 5px 0px;
    font-size: 14px;
}
.header .container{
    border-bottom: 1px solid #e3e3e3;
    padding-bottom: 5px;
}
.call{
    padding-right: 20px;
}
.leftH{
    overflow: hidden;
    float: left;
}
.leftH i{
    color: #0fb0ee;
    margin-right: 5px;
}
.rightHeader{
    overflow: hidden;
    float: right;
}
.box{
    overflow: hidden;
    float: left;
}
.box i{
    height: 33px !important;
    width: 33px;
    padding: 10px;
}
.box:hover{
    cursor: pointer;
}
.box:hover a{
    color:#fff;
}
.box a{
    color: #999999;
}
.searchIcon a, .gIcon a{
    color: #fff;
}
.searchIcon{
    background-color: #0fb0ee !important;
}
.searchIcon:hover{
    background-color: #046388 !important;
}
.gIcon{
    background-color: #eb604e !important;
}
.gIcon:hover{
    background-color: #f6260a !important;
}
.fb:hover{
    background-color: #1773EA !important;
}
.twitter:hover{
    background-color: #50ABF1 !important;
}
.insta:hover{
    background-color: #9326A8 !important;
}


/************************/
/******** navbar ********/
/************************/
.navLogo{
    width: 150px;
}
.nav-item{
    text-transform: uppercase;
    font-weight: 500;
}
.nav-item a:hover,.active a{
    color: #0fb0ee !important;
}


/************************/
/******** Slider ********/
/************************/
.owl-carousel{
    width: 100%;
}
.owl-carousel .item{
    background-image: url("https://via.placeholder.com/1921x887/343739/575555");
    background-size: 100% 100% !important;
    background-position: center;
    background-repeat: no-repeat;
    padding: 16% 18%;
}
.owl-carousel .item h1{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 80px;
    color: white;
    font-weight: 700;
    text-transform: uppercase;
    /* margin-top: -20px; */
}
.owl-carousel .item h2{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 36px;
    color: white;
    font-weight: 400;
    text-transform: uppercase;
}
.owl-carousel .item p{
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: #bbbbbb;
    font-weight: 400;
}
.slider{
    overflow: hidden;
    position: relative;
}
.main-content {
    position: relative;
}
.owl-theme .custom-nav {
    position: absolute;
    top: 45%;
    left: 0;
    right: 0;
}
.owl-theme .owl-nav  [class*=owl-]:focus {
    outline: none !important;
}

.owl-theme .custom-nav .owl-prev, .owl-theme .custom-nav .owl-next {
    position: absolute;
    color: inherit;
    background: none;
    border: none;
    z-index: 100;
    right: 0;
}
.owl-theme .custom-nav .owl-prev, .owl-next{
    font-size: 2.5rem;
    color: #cecece;
}
.owl-theme .custom-nav .owl-prev {
    left: 0;
}
.owl-theme .owl-nav [class*=owl-] {
    color: #FFF;
    background: #256781;
    display: inline-block;
    cursor: pointer;
    border-radius: 0;
    margin:0 ;
}
.owl-theme .owl-dots .owl-dot span{
    background: rgb(247, 247, 255);
    width: 5px;
    height: 15px;
}
.owl-theme .owl-dots{
    position: absolute;
    margin: auto;
    width: 100%;
    bottom: 2%;
}
.owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev, .owl-carousel button.owl-dot:focus{
    outline: none;
}
.owl-theme .owl-dots .owl-dot.active span{
    background: rgb(75, 149, 233);
    width: 6px;
    height: 39px;
}


/***********************/
/******** About ********/
/***********************/
.about{
    overflow: hidden;
}
.secHeader{
    text-align: center;
    margin-top: 80px;
}
.headTitle{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 30px;
    color: #555555;
    font-weight: 700;
    text-transform: uppercase;
}
.coloredPart{
    color:#49bcf0;
}
.horizontalRule{
    padding: 0px 0px 4px 0px;
    position: relative;
    width:100px;
    margin:auto;
    margin-top: -10px;
}
.secHeader hr{
    border-top: 2px solid #49bcf0;
    opacity: 1;
}
.horizontalRule::before{
    position: absolute;
    content:url('../images/h1/triangle2.png');
    left:44px;
    bottom: 10px;
}
.secHeaderP{
    color: #818181;
    width: 29%;
    margin: auto;
    font-size: 15px;
}
.colHeader hr{
    border-top: 2px solid #49bcf0;
    opacity: 1;
    margin: 10px 0px;
    width: 30px;
}
.colHeader{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 18px;
    color: #747474;
    font-weight: 700;
    text-transform: uppercase;
}
.about .colItem{
    margin-top: 40px;
}
.about .colimg{
    text-align: right;
}
.about .colimg img{
    height: 60px;
}
.colPara{
    color: #888787;
    font-size: 15px;
    padding-right: 10px;
}


/**************************/
/******** Services ********/
/**************************/
.service{
    margin-top: 100px;
    position: relative;
    height: 700px;
}
.service .secImg{
    position: absolute;
    left: 19.8%;
}
.colGroup{
    padding: 13px 25px;
    position: absolute;
    background-color: #ffffff;
    overflow: hidden;
    left: 50%;
    top: 26%;
    width: 566px;
}
.colGroup .inner{
    width: 540px !important;
    /* height: 480px; */
    overflow: hidden;
}
.shadow1{
    position: absolute;
    box-shadow: 0px 0px 17px -1px rgba(138,138,138,.75);
    z-index: -1;
    margin-left: -60px;
    width: 540px;
    height: 507px;
    left: 54.5%;
    top: 26%;
}
.service .colItem{
    padding: 33px 0px;
}
.service .secBody .hr1{
    margin: 0;
    padding: 0;
}

.portfolio{
    overflow: hidden;
}
.leftPadding{
    padding-left: 21px !important;
}
.service .colItem{
    padding-left: 32px !important;
}
.service .colBody{
    padding-left: 32px !important;
}

/********* Borders **********/
.borderR{
    border-right:1px solid #e3e3e3;
}
.borderL{
    border-Left:1px solid #e3e3e3;
}
.borderT{
    border-top:1px solid #e3e3e3;
}
.borderB{
    border-bottom:1px solid #e3e3e3;
}
.borderX{
    border-right:1px solid #e3e3e3;
    border-Left:1px solid #e3e3e3;
}
.borderY{
    border-top:1px solid #e3e3e3;
    border-bottom:1px solid #e3e3e3;
}


/*  */
/*  */
/*  */
/* .container-fluid{
    display: grid;
    grid-template-rows: 1fr auto;
}
.grid {
    background: rgb(255, 255, 255);
}
.grid:after {
    content: '';
    display: block;
    clear: both;
}
.grid-sizer, .grid-item {
    width: 33.33%;
}
.grid-item-content{
    grid-column-end: span 2;
}
.grid-item:hover {
    cursor: pointer;
}
.grid-item img {
    display: block;
    max-width: 100%;
    border: 10px solid white;
} */


.grid-layout {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    grid-gap: 10px;
    grid-auto-rows: minmax(180px, auto);
    grid-auto-flow: dense;
    padding: 10px;
}
.grid-item {
    padding: 1rem;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    color: #929796;
    background-color: #333;
}
.span-2 {
    grid-column-end: span 2;
    grid-row-end: span 2;
}
.span-3 {
    grid-column-end: span 3;
    grid-row-end: span 4;
}
